<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020832580162-jusuj981pk5k1cg79a0t5g6ghdg8d10a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020832580162-jusuj981pk5k1cg79a0t5g6ghdg8d10a</string>
	<key>API_KEY</key>
	<string>AIzaSyAONcDUx9ykv5mNR2Mp2bfJMlNqNOMpQrA</string>
	<key>GCM_SENDER_ID</key>
	<string>1020832580162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geckgalleries.colorSleeper</string>
	<key>PROJECT_ID</key>
	<string>colorsleeper-80449</string>
	<key>STORAGE_BUCKET</key>
	<string>colorsleeper-80449.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020832580162:ios:a8b22806e8d50c83</string>
	<key>DATABASE_URL</key>
	<string>https://colorsleeper-80449.firebaseio.com</string>
</dict>
</plist>